.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: aqua;
  color:#282c34;
  font-size: 24px;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 20px
}


.listSection {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.ulListSection {
  list-style-type: none;
}

.form{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 1000;
}

.form.active {
  opacity: 1;
  visibility: visible;
}


.formError {
  color: red;
}



.form_content{
  background-color: aqua;
  min-height: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.buttonSing{
  display: flex;
  width: 100%;
}

.btn {
  width: 100%;
}

.btnClose{
  
}